<h1>Export Adjudication Results</h1>

<select class="ui search dropdown" onchange={{action "saveDropdownVal"}}>
	<option disabled selected>Choose Program Record...</option>

	{{#each (get systemLists "program-record") as |element|}}
	<option value={{element.id}}>{{element}}</option>
	{{else}}
	<option>No options found</option>
	{{/each}}
</select>

<button class="ui teal button" {{action 'convertToPDF'}}>PDF</button>
<button class="ui blue button" {{action 'convertToExcel'}}>Excel</button>
