      <table class="ui seven column very basic table">
        <tr>
          <td class="three wide"><h4>Course</h4></td>
          <td class="three wide"><h4>From</h4></td>
          <td class="two wide"><h4>Units</h4></td>
          <td class="two wide"><h4>Grade</h4></td>
          <td class="three wide"></td>
          <td class="one wide"></td>
          <td class="three wide"></td>
        </tr>
        {{#each standings as |standing|}}
          <tr>
            <td class="three wide">{{standing.course}}</td>
            <td class="three wide">{{standing.from}}</td>
            <td class="two wide">{{standing.units}}</td>
            <td class="two wide">{{standing.grade}}</td>
            <td class="three wide"><div class="ui primary button" {{action "showDescription"}}>Description</div></td>
            <td class="two wide"><div class="ui positive button" {{action "updateStanding"}}>Update</div></td>
            <td class="two wide"><div class="ui negative button" {{action "deleteStanding" standing}}>Delete</div></td>
            {{#if descriptionShow}}
{{show-description title = standing.course description = standing.description notDONE = descriptionShow}}

{{else if updateCourse}}
{{update-standing updatestanding = standing notDONE = updateCourse}}
 {{/if}}

          </tr>
        {{/each}}
      </table>

