{{#if showFoundStudent}}
{{students-list model=studentPaged closeModal=(action closeModal)}}
{{else}}
<div class="ui modal">
  <div class="header">Search for a student number</div>
  <div class="content">
    <form class="ui form">
      <div class="inline field">
        <label>Student Number</label> {{input size="10" type="number" value=studentID}}
      </div>

      <div class="inline field">
        <label>Given Name</label> {{input size="30" type="text" value=fName}}
      </div>

      <div class="inline field">
        <label>Surname</label> {{input size="30" type="text" value=lName}}
      </div>

      <div class="actions">
        <hr>
        <div class="ui positive button" {{action "find"}}>Find</div>
        <div class="ui negative basic button" {{action "close"}}>Cancel</div>
      </div>
    </form>
  </div>
</div>
{{/if}}

