<div class="ui modal">
  <div class="header">Help</div>
  <div class="content">
    <div class="ui header">Data Form Actions</div>
    <br>
      {{#each hints as |hintgroup|}}
        <b>{{hintgroup.title}}</b>
        <p>{{hintgroup.description}}</p>
      <ul>
        {{#each hintgroup.list as |hint|}}
        <li>
          {{hint.button}}: {{hint.hint}}
        </li>
        {{/each}}
      </ul>
      <br/>
      {{/each}}
    <div class="actions">
      <hr>
      <div class="ui button" {{action "exit"}}>OK</div>
    </div>

  </div>
</div>