<!-- the course name, course mark, and school name will be displayed in a line with three buttons: view more, update, and delete -->
<!-- clicking view more will bring up a modal (view-highschool) with the rest of the highschool data -->
<!-- clicking update brings up the same modal (view-highschool) but with an option to save the changes -->
<!-- delete should just delete the record -->
<!-- ******** THESE FUNCTIONALITIES CANT BE TESTED UNTIL ROUTES ARE IN SO IDK IF THEY 100% WORK-->

<table class="ui six column very basic table">
  <tr>
    <td class="two wide"><h4>Grade</h4></td>
    <td class="two wide"><h4>Year</h4></td>
    <td class="two wide"><h4>Subject</h4></td>
    <td class="two wide"><h4>From</h4></td>
    <td class="two wide"></td>
    <td class="two wide"></td>
  </tr>
  
    {{#each marks as |hsGrade|}}
    <tr>
      <td class="two wide">{{hsGrade.mark}}</td>
      <td class="two wide">{{hsGrade.course.level}}</td>
      <td class="two wide">{{hsGrade.course.subject.name}}</td>
      <td class="two wide">{{hsGrade.course.school.name}}</td>
      <td class='two wide'>
        <button class="ui positive button" {{action "updateModal" hsGrade}}>Update</button>
      </td>
      <td class='two wide'>
        <button class="ui negative button" {{action "deleteCourse" hsGrade}}>Delete</button>
      </td>
    </tr>
    {{/each}}
 
</table>

<button class="ui button" {{action "addHS"}}>Add High School Course</button>

{{#if openModal}}
{{view-highschool notDONE = openModal oldGrade = oldGrade}}
{{/if}}

{{#if newHS}}
{{log "I'm making a note here"}}
{{view-highschool newrecipient = student notDONE = newHS newGrade = newElement}}
{{/if}}
